<html>

<head>
  <title>foss4g-demos</title>
  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="demos for my foss4g talk" />
  <meta name="author" content="" />
  <meta name="revisit-after" content="3 days" />

  <link href="styles/main.css" rel="stylesheet" />

</head>

<body>
  <ul>
    <li>
      <a href="brush.html">Brush</a>
    </li>
    <li>
      <a href="minimap.html">Minimap</a>
    </li>
    <li>
      <a href="presets.html">Presets</a>
    </li>
    <li>
      <a href="tile-preview.html">Tile Preview</a>
    </li>
  </ul>
</body>

</html>