@import './brush.styl'

html, body
  width: 100%
  padding: 0
  margin: 0
  display: flex
  align-items: center
  justify-content: center
  font-family: 'Helvetica Neue', sans-serif

.container
  width: 100%
  height: 100%
  background-color: #fff

.map
  width: 100%
  height: 100%

// .presets
//   & .color-key
//     padding: 0
//     margin: 0
//     display: flex
//     width: 765px
//     list-style: none
//     justify-content: space-around
//     margin-top: 10px
//     align-items: center
//     font-size: 12px

//     & li
//       text-transform: uppercase
//       display: flex
//       align-items: center
//       margin-right: 5px

//       & div
//         width: 20px
//         height: 20px
//         margin-right: 5px
//         border: 1px solid black;